export NIX_CONFIG="experimental-features = nix-command flakes"
use nix
watch_file nix/src.json

PATH_add bin

source_env_if_exists .envrc.private

# If using Python, uncomment to get direnv to activate venv - otherwise, delete
# lock=$(sha256sum requirements.txt 2>&1)
# if ! [ -f .venv/lock ] || [ "$(cat .venv/lock)" != "$lock" ]; then (
#   rm -rf .venv
#   python3 -m venv .venv
#   source .venv/bin/activate
#   echo "$lock" > .venv/lock
#   python -m pip install -r requirements.txt
# ) fi
#
# source .venv/bin/activate
